<footer class="footer">
  <nav class="footer-nav">
    <ul>
      <li><a href="/">Начало</a></li>
      <li><a href="/procedures">Процедури</a></li>
      <li><a href="/saltroom">Солна Стая</a></li>
      <li><a href="/photoepilation">Фотоепилация</a></li>
      <li><a href="/news">Актуално</a></li>
    </ul>
  </nav>

  <section class="footer-contacts">
    <h3>Контакти</h3>
    <div class="contacts-wrapper">
      <span>088 950 8530</span>
      <span>
        <span>гр. Монтана,</span>
        <span>ул. Ал. Батенберг 16А</span>
      </span>
      <span>medea_beauty@abv.bg</span>
    </div>
  </section>

  <section class="work-time">
    {{> social-medias}}
    <h3>Работно време</h3>
    <p><span>Понеделник-Петък:</span> 09.00 - 19.00</p>
    <p><span>Събота:</span> 09.00 - 14.00</p>
    <p><span>Неделя:</span> Почивен ден</p>
  </section>
  <p class="copyright-message">Медея 2021 &copy; Всички права запазени.</p>
</footer>