<header class="header">
  <div class="site-logo"><a rel="prefetch" href="/"></a></div>
  <nav class="header-nav">
    {{> navigation }}
  </nav>
  <div class="appointment-box">
    <span>Запишете час на:</span>
    <span class="phone">0889 508 530</span>
    {{> social-medias}}
  </div>

  <div class="company-phrase">
    <h2 data-aos="zoom-in" data-aos-delay="400" data-aos-duration="1000"><span>Красиви и здрави, </span> <span>отвън и отвътре!</span></h2>
    <p data-aos="zoom-in" data-aos-delay="1200" data-aos-duration="1200">Това е нашето мото и мисия. Казват, че красотата ще спаси света, а ние, от Медико-естетичен център <span>"Медея"</span> правим всичко необходимо, за да запазим младостта и красотата, и да живеем в един по-добър и по-щастлив свят!</p>
  </div>
  <div class="hamburger">
    <span></span>
    <span></span>
    <span></span>
  </div>
  <div class="mobile-menu hide">
    <nav>
      {{> navigation }}
    </nav>
  </div>
</header>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script src="/js/header.js"></script>