<ul>
  <li><a href="/">Начало</a></li>
  <li><a href="/procedures">Процедури</a></li>
  <li><a href="/photoepilation">Фотоепилация</a></li>
  <li><a href="/saltroom">Солна Стая</a></li>
  <li><a href="/news">Актуално</a></li>
  <li><a href="/contacts">Контакти</a></li>
</ul>