<span class="social-media">
  <a target="_blank" rel="noopener noreferrer"
    href="https://www.facebook.com/%D0%9C%D0%B5%D0%B4%D0%B8%D0%BA%D0%BE-%D0%B5%D1%81%D1%82%D0%B5%D1%82%D0%B8%D1%87%D0%B5%D0%BD-%D1%86%D0%B5%D0%BD%D1%82%D1%8A%D1%80-%D0%9C%D0%B5%D0%B4%D0%B5%D1%8F-2072900519661776/"
    class="fb"></a>
  <a target="_blank" rel="noopener noreferrer" href="https://www.instagram.com/medea_montana/" class="ig"></a>
</span>