<div class="procedures-list-wrapper">
  <div class="url">
    <a href="/procedures">Процедури</a>><a href="/procedures/bodytherapies">Терапии за тяло</a>
  </div>

  <h1 class="procedures-list-title">Терапии за тяло</h1>

  <h2>Мануални масажи :</h2>
  <ul class="procedures-list manual">
    <li class="procedure-wrapper" id="wholebody">
      <div class="procedure">
        <h2>КЛАСИЧЕСКИ МАСАЖ НА ЦЯЛО ТЯЛО</h2>
        <div class="duration-price">
          <h4>60 мин.</h4>
          <h4>30 лв.</h4>
        </div>
        <div class="procedure-description">
          Масажната терапия е известна като един от най-старите методи за лечение. Още през IV век пр.н.е. Хипократ,
          наричан “баща на медицината”, казва във връзка с масажа: “Лекарят трябва да е запознат с много неща,
          задължително и с техниките за разтриване”. Чрез масаж индийците придавали гъвкавост и пластичност на тялото, а
          гърците съчетавали масаж и спорт, за да поддържат мускулите си.
          <span>Малко любопитни факти за масажа:</span>
          <ul>
            <li>Един час масаж се равнява по сила на възстановително въздействие върху човешкия организъм на 7-8 часа
              сън.
            </li>
            <li>Масажът стимулира производството на пролактин, хормон отговарящ за потискане на агресията и
              раздразнителността.</li>
            <li>След масаж организмът укрепва, повишава се имунитета и се ускоряват оздравителните процеси.</li>
            <li>Повишава се настроението и общото самочувствие, поради производството на серотонин - хормон, свързан с
              положителните емоции, който регулира настроението на човека.</li>
          </ul>
        </div>
      </div>
    </li>

    <li class="procedure-wrapper" id="antistress">
      <div class="procedure">
        <h2>АНТИСТРЕС РЕЛАКСИРАЩ МАСАЖ</h2>
        <div class="duration-price">
          <h4>60 мин.</h4>
          <h4>30 лв.</h4>
        </div>
        <div class="procedure-description">
          Антистрес масажът отнема натрупаното напрежение, релаксира и тонизира тялото. Той действа ободряващо на ЦНС,
          освобождавайки я от натрупалият се стрес и напрежение, като повишава притока на кислород към клетките.Също
          така
          подобрява лимфният поток при постоянство до 7 пъти и кръвообращението.По този начин до мускулните влакна
          достигат повече хранителни вещества, засилва се имунната система, засилва се изхвърлянето на токсини от
          тялото.В
          съчетание с ароматни етерични масла, оказва отпускащо въздействие върху цялото тяло и увеличава устойчивостта
          на
          организма към външните влияния.
        </div>
      </div>
    </li>

    <li class="procedure-wrapper" id="deeptissue">
      <div class="procedure">
        <h2>ДЪЛБОКОТЪКАНЕН МАСАЖ ПРИ БОЛКА</h2>
        <div class="duration-price">
          <h4>45 мин.</h4>
          <h4>35 лв.</h4>
        </div>
        <div class="procedure-description">
          Дълбокотъканият масаж се прилага с лечебна цел, като засилва кръвообръщението и подобрява лимфата, което
          благоприятства възпалителните процеси. Чрез различни техники масажът действа на дълбоките слоеве на мускулите
          и
          съединителната тъкан, и облекчава болките. Дълбокотъканният масаж е полезен при високи нива на стрес, големи
          физически натоварвания, ​обща скованост на тялото, предизвикана от заседнал начин на живот, болки в кръста и
          гърба, ишиас, радикулит, плексит, ошипяване, невралгии, главоболие, мигрена. Спомага за нормализиране на
          патологично повишения мускулен тонус и мускулните спазми.
        </div>
      </div>
    </li>

    <li class="procedure-wrapper" id="volcanicstones">
      <div class="procedure">
        <h2>МАСАЖ С ВУЛКАНИЧНИ КАМЪНИ</h2>
        <div class="duration-price">
          <h4>60 мин.</h4>
          <h4>35 лв.</h4>
        </div>
        <div class="procedure-description">
          Масажът с топли вулканични камъни отпуска мускулатурата и релаксира ума. Масажът комбинира действието на
          няколко
          терапевтични елемента: - Мануалният масаж; -Термичното действие на вулканичните камъни; - Ефектът от
          етеричните
          масла. Излезли от недрата на земята, камъните се характеризират с висока топлоемкост и ниска топлопроводимост.
          Затоплени веднъж, вулканичните камъни задържат топлината дълго време и я отдават бавно и равномерно на
          подлежащите тъкани, създавайки усещане за разливаща се, мека топлина по цялото тяло. Препоръчва се при
          преумора,
          стрес, нервно напрежение, главоболие.
        </div>
      </div>
    </li>

    <li class="procedure-wrapper" id="properium">
      <div class="procedure">
        <h2>ЧАСТИЧЕН МАСАЖ НА ГРЪБ С ПРОПИРЕУМ</h2>
        <div class="duration-price">
          <h4>30 мин.</h4>
          <h4>20 лв.</h4>
        </div>
        <div class="procedure-description">
          Страдате от болки в гърба⁉️
          Предлагаме Ви лечебен масаж на гръба и рамената с Пропиреум - отлична комбинация от растителни масла,
          прополис,
          ментол и камфор, който има охлаждащ ефект, засилва циркулацията на кръвта в областта на болката, отпуска
          сковаността и има противовъзпалителен ефект.
          Откраднете малко време за себе си и си отдъхнете с едни приятен и полезен масаж!
          Седналото положение на тялото пред компютъра или пък тежката физическа работа се отразяват негативно на гърба.
          Лечебният масаж е много ефикасно средство за преодоляване на болките в гърба!
        </div>
      </div>
    </li>

    <li class="procedure-wrapper" id="partialmassage">
      <div class="procedure">
        <h2>ЧАСТИЧЕН МАСАЖ НА ГРЪБ</h2>
        <div class="duration-price">
          <h4>30 мин.</h4>
          <h4>15 лв.</h4>
        </div>
        <div class="procedure-description">
          Схванати сте, усещате болка в раменете и врата – това ви пречи да извършвате най-обикновени, ежедневни
          дейности,
          кара ви да се чувствате отпаднали, раздранителни или апатични към всичко, което ви заобикаля. Този тип болка
          много често са последица от неправилна стойка по време на работа. Частичен масаж на врата и раменете ще
          премахне
          сковаността във врата и ще облекчи тежестта в раменете и плешките. Масажът отпуска мускулите на гърба,
          релаксира
          ви и ви връща енергията.
        </div>
      </div>
    </li>

    <li class="procedure-wrapper" id="neckmassage">
      <div class="procedure">
        <h2>МАСАЖ НА ТИЛА</h2>
        <div class="duration-price">
          <h4>30 мин.</h4>
          <h4>15 лв.</h4>
        </div>
        <div class="procedure-description">
          Областта на тила и врата е една от най-стационарните части в човешкото тяло. Вратът и шийните прешлени се
          влияят
          много от ежедневните негативни фактори на съвременния начин на живот - работа на компютър, бюро и намалена
          мобилност, климатици, шофиране и др. Затова най-често се срещат схващания в зоната на яката и рамената, което
          предизвиква често главоболие, световъртеж, болка и изтръпване в ръцете, или по целия гръбначен стълб. Масажът
          на
          врата е чудесен начин да се отървете от главоболието.
        </div>
      </div>
    </li>

    <li class="procedure-wrapper" id="tiredlegs">
      <div class="procedure">
        <h2>МАСАЖ ЗА УМОРЕНИ КРАКА</h2>
        <div class="duration-price">
          <h4>30 мин.</h4>
          <h4>15 лв.</h4>
        </div>
        <div class="procedure-description">
          Лимфен дренаж и масаж на подбедрици и стъпала - процедура, подходяща при разширени вени, подуване и тежест в
          краката. Терапия, която ще Ви накара да почувствате лекота и свежест в краката си и да се отърсите от
          напрежението на забързаното ежедневие. Подходяща за бременни жени.
        </div>
      </div>
    </li>

    <li class="procedure-wrapper" id="bellymassage">
      <div class="procedure">
        <h2>КОРЕМЕН МАСАЖ</h2>
        <div class="duration-price">
          <h4>30 мин.</h4>
          <h4>15 лв.</h4>
        </div>
        <div class="procedure-description">
          Коремният масаж има много полезни ефекти не само върху органите в коремната кухина, но и при запек, метеоризъм
          /подуване на корема и газове/, синдром на раздразненото черво.
          Коремният масаж подобрява храносмилането, стимулира чревната перисталтика, и помага да се освободят всички
          вредни вещества, натрупани в черния дроб. Масажът помага при колит и лениви черва. Масажът на корема стимулира
          работата на вътрешните органи, като подобрява тяхното кръвоснабдяване и функционалност.
        </div>
      </div>
    </li>

    <li class="procedure-wrapper" id="footmassage">
      <div class="procedure">
        <h2>ТОЧКОВ МАСАЖ НА СТЪПАЛАТА (Рефлексотерапия)</h2>
        <div class="duration-price">
          <h4>30 мин.</h4>
          <h4>15 лв.</h4>
        </div>
        <div class="procedure-description">
          Стъпалото е своеобразна карта на човешкото тяло. Върху стъпалото има десетки акупунктурни точки, всяка от
          които
          отговаря на отделен орган от човешкото тяло. Стимулацията на всяка акупунктурна точки чрез масаж на стъпалата
          подобрява кръвообръщението, ободрява, намалява стреса и натрупаното напрежение и действа здравословно на
          цялото
          тяло. Масажът на стъпалата е един от основните методи за лечение в традиционната китайска медицина.
        </div>
      </div>
    </li>

    <li class="procedure-wrapper" id="manualmassage">
      <div class="procedure">
        <h2>Антицелулитен мануален масаж</h2>
        <div class="duration-price">
          <h4>30 мин.</h4>
          <h4>25 лв.</h4>
        </div>
        <div class="procedure-description">
          Мануална терапия премахваща подкожния слой
          мазнини, натрупани под формата на портокалови
          образувания. Методът има подчертан козметичен
          ефект. Извършва се с помощта на специални
          мануални техники с помощта етерични масла.
          Мануалният масаж най-известният и достъпен
          метод за третиране на целулита. С негова помощ се
          осигурява кръвоснабдяването на тъканите, което
          подпомага изгарянето на мазнините, носи свежи
          хранителни съставки и осигурява разнасяне на
          лимфните задържания. За да има по-голям ефект
          от антицелулитния масаж, е изключително важно
          засегнатите зони да се третират с висококачествени
          продукти. Те са загряващи или изстудяващи, а
          целта им е да проникнат добре през епидермиса и
          да въздействат на мастната клетка, като я
          освободят от съдържание.
        </div>
      </div>
    </li>

    <li class="procedure-wrapper" id="bodyripping">
      <div class="procedure">
        <h2>МОДЕЛИРАЩА БОДИРЕПИНГ АНТИЦЕЛУЛИТНА ТЕРАПИЯ</h2>
        <div class="duration-price">
          <h4>30 мин.</h4>
          <h4>30 лв.</h4>
        </div>
        <div class="procedure-description">
          Бодирепингът изгаря мазнините и стопява килограми в проблемните зони чрез загряване с антицелулитен гел и
          увиване на тялото с бандажно фолио,като постига поразителен резултат на стягане и изглаждане на кожата от
          целулит, изчистване от токсини и подмладяващо действие за цялото тяло.
          <span>Ефектите от бодирепинг:</span>
          <ul>
            <li>Подобрява общото състояние и вида на кожата при целулит;</li>
            <li>Премахва отоците, изчиства и детоксикира организма;</li>
            <li>Намалява обиколките в проблемните зони;</li>
            <li>Нормализира обмяната на веществата;</li>
            <li>Активизира отделителните функции на организма;</li>
            <li>Активизира отделителните функции на организма;</li>
            <li>Антиоксидантно и общо подмладяващо действие;</li>
            <li>Повишава еластичността на съединителната и мускулната тъкан;</li>
            <li>Нормализация на тургура на кожата.</li>
          </ul>
        </div>
      </div>
    </li>
  </ul>

  <h2>Апаратни масажи :</h2>
  <ul class="procedures-list aparat">
    <li class="procedure-wrapper" id="presotherapy">
      <div class="procedure">
        <h2>ПРЕСОТЕРАПИЯ</h2>
        <div class="duration-price">
          <h4>30 мин.</h4>
          <h4>10 лв.</h4>
        </div>
        <div class="procedure-description">
          Пресотерапията е ефективен и безболезнен метод с терапевтичен ефект за лечение на целулит и мастни натрупвания
          по тялото. Активира пасивната част на кръвообращението – вените и лимфните съдове. Стимулира дренажа на
          натрупаните токсини към прочистващите органи. Резорбира отоците, има освобождаващ и болкоуспокояващ ефект.
          Препоръчва се при целулит, затлъстяване, при тежест и умора в краката, в резултат на нарушено кръвообращение и
          отоци по крайниците. Осигурява обща релаксация и цялостно възстановяване на организма. За максимален ефект са
          необходими между 10 и 15 процедури.
        </div>
      </div>
    </li>

    <li class="procedure-wrapper" id="celutron">
      <div class="procedure">
        <h2>Целутрон</h2>
        <div class="duration-price">
          <h4>30 мин.</h4>
          <h4>10 лв.</h4>
        </div>
        <div class="procedure-description">
          Целутронът е пасивна гимнастика на мускулите
          чрез електростимулация, която съответства на
          няколко фитнес тренировки, само че без да се
          напъвате и морите в залата. Целутронът е успешна
          ефективна терапия при целулит, затлъстяване, за
          оформяне и стягане на тялото, проблеми в
          циркулацията и кръвообращението, както и
          всякакви други рефлектиращи върху естетическото
          състояние на тялото проблеми.
          <span>Целутронът спомага за:</span>
          <ul>
            <li>разграждане на мастни и целулитни депа;</li>
            <li>лимфен дренаж и изтласкване на отпадни вещества;</li>
            <li>мускулна стимулация за оформяне и стягане на фигурата;</li>
            <li>при въздействието му няма отпускане на кожата и образуване на стрии.</li>
          </ul>
        </div>
      </div>
    </li>

    <li class="procedure-wrapper" id="shockmassage">
      <div class="procedure">
        <h2>ШОКОВО-ВЪЛНОВ МАСАЖ ПРИ БОЛКА</h2>
        <div class="duration-price">
          <h4>15 мин.</h4>
          <h4>15 лв.</h4>
        </div>
        <div class="procedure-description">
          Шоково-вълновият масаж пpемахва възпълението и тpайно освобождава движението чрез звукови вълни, напълно
          безвредни за човешкия организъм. Пpи меките тъкани фокусираната ударна енеpгия yвеличава пpитока на кpъв в
          зоната, подcилва микpоциpкyлацията и така пpемаxва възпалението и болката. Пpи cтавите лечебният ефеĸт cе
          изpазява в оcвобождаване на cкованоcтта.
          Този масаж повишава локалната метаболитна активност и стимулира естествените регенерационни процеси в
          опорно-двигателната система.
          По време на процедурата болката може да се засили, но в рамките на час - два след третирането тя отшумява.
          Продължителността на процедурата е от 5 до 7 минути за зона, за пълно възстановяване са обикновено нужни между
          4
          и 5 посещения с интервал между тях около 5 дни.
        </div>
      </div>
    </li>
  </ul>

  <h2>Отслабващи апаратни процедури :</h2>
  <ul class="procedures-list weight-loss">
    <li class="procedure-wrapper" id="velasmuth">
      <div class="procedure">
        <h2>ВЕЛАСМУТ</h2>
        <div class="duration-price">
          <h4>30 мин.</h4>
          <h4>20 лв. на зона</h4>
        </div>
        <div class="procedure-description">
          VelaSmooth представлява комбинация от радиочестота, инфрачервена светлина, кавитация, вакуум и био стимулиращ
          масаж. Комбинацията от светлина и радиовълни загрява кожата до нужното ниво и прониква в дълбочина до
          хиподермиса, където разгражда и освобождава съдържанието на мастните клетки, активизира циркулацията на
          кръвоносните съдове и лимфата в третираната зона. Повърхността на третираната кожа става по-гладка и
          по-стегната
          още след първата-втората процедура. Броят на процедурите се определя индивидуално. Процедурите се извършват
          през
          1 ден, за да се постигнат оптимални резултати.
        </div>
      </div>
    </li>

    <li class="procedure-wrapper" id="cavitation">
      <div class="procedure">
        <h2>ОТСЛАБВАНЕ ЧРЕЗ КАВИТАЦИЯ</h2>
        <div class="duration-price">
          <h4>30 мин.</h4>
          <h4>20 лв.</h4>
        </div>
        <div class="procedure-description">
          Кавитацията е мощен нехирургичен метод в борбата с локалните мастни натрупвания, позната още като
          „нехирургична
          липосукция”. Кавитацията редуцира телесното тегло с помощта на ултразвукови вълни с честота 40 kHz. Те
          проникват
          в кожата и предизвикват ограничаване на обема на мазнините и течността в тъканите. На една процедура не може
          да
          се третира зона по-голяма от 20 х 20сm, и не се обработва цялото тяло, както е при другите методи. При
          кавитацията се разрушават по-голям брой мастни мембрани и се натрупват по-големи количества свободни мастни
          киселини /TGs/, които се насочват към черния дроб.
        </div>
      </div>
    </li>

    <li class="procedure-wrapper" id="lipolazer">
      <div class="procedure">
        <h2>ОТСЛАБВАНЕ С ЛИПОЛАЗЕР</h2>
        <div class="duration-price">
          <h4>40 мин.</h4>
          <h4>15 лв.</h4>
        </div>
        <div class="procedure-description">
          Липолазерът е най-новата система за скулптуриране на тялото. Независимо дали искате да се отървете от
          мазнините
          в областта на корема или да премахнете излишната мазнина от ръцете, бедрата или гърба, това е най-новата
          система
          за намаляване на мастните натрупвания по естествен начин. Липолазерът е система за загуба на мазнини, която е
          неинвазивна, безболезнена и дава бързи резултати. Използвайки, ниско ниво на лазер, Липолазерът е естествен и
          здравословен начин за загуба на мазнини по талията, ханша, бедрата, горната част на краката и дори на ръцете.
        </div>
      </div>
    </li>

    <li class="procedure-wrapper" id="vacuummassage">
      <div class="procedure">
        <h2>ВАКУУМ МАСАЖ + РАДИОЧЕСТОТЕН ЛИФТИНГ</h2>
        <div class="duration-price">
          <h4>30 мин.</h4>
          <h4>20 лв.</h4>
        </div>
        <div class="procedure-description">
          Радиочестотният (RF) лифтинг e технология, използвана в естетичната индустрия заради способността да стимулира
          производството на колаген и еластин, и да постига лифтинг ефект върху кожата. RF генерира електрическо поле,
          което води до ротационно движение на молекулите и затопля дермата. Това затопляне е отвътре навън предизвиква:
          <ul>
            <li>Лимфен дренаж;
            </li>
            <li>Подобряване на метаболизма и подобряване на еластичността и външния вид на кожата;</li>
            <li>Събуждане на фибробласти и синтез на колаген, което допълнително укрепва еластичните структури на кожата
              и
              води до стягане на третирания участък.</li>
          </ul>
        </div>
      </div>
    </li>

    <li class="procedure-wrapper" id="anticellulite">
      <div class="procedure">
        <h2>АНТИЦЕЛУЛИТЕН ШОКОВО-ВЪЛНОВ МАСАЖ</h2>
        <div class="duration-price">
          <h4>15 мин.</h4>
          <h4>15 лв. на зона</h4>
        </div>
        <div class="procedure-description">
          Притеснява ви целулит, отпусната кожа, отоци и подуване на корема? Решението е нова иновативната процедура с
          шоково-вълнов масаж, която ефикасно премахва целулитните депа, подобрява кръвообращението, стимулира лимфния
          дренаж, стяга кожата и скулптурира тялото. Безопасна и напълно безболезнена терапия, гарантираща впечатляващи
          резултати само след няколко процедури.
        </div>
      </div>
    </li>
  </ul>
</div>

<link rel="stylesheet" href="/css/procedures-list.css">
<link rel="stylesheet" href="/css/bodyTherapies.css">