<div class="procedures-list-wrapper">
  <div class="url">
    <a href="/procedures">Процедури</a>><a href="/procedures/eyelashes">Ламиниране на мигли</a>
  </div>
  <h1 class="procedures-list-title">Ламиниране на мигли</h1>

  <ul data-aos="fade-up" class="procedures-list">
    <li class="procedure">
      <h2>ЛАМИНИРАНЕ НА МИГЛИ</h2>
      <div class="duration-price">
        <h4>75 мин.</h4>
        <h4>40 лв.</h4>
      </div>
      <div class="procedure-description">
        Ламинирането на мигли (трайно извиване на мигли) е напълно безвредна процедура, чрез която се удължават,
        удебеляват, извиват и заздравяват естествените мигли.
        В състава на ламиниращия продукт влизат витамини, пептиди и кератин. Ефектът се запазва 6 седмици, без
        необходимост от специално предпазване на миглите. Можете спокойно да спите в удобната си поза, да миете лицето
        си, да плувате, да ползвате сауна или парна баня, да спортувате и т.н. Със ставането миглите Ви са в отлична
        форма! А когато искате още по-изразителен поглед, можете да ползвате спирала.
      </div>
    </li>
  </ul>

  <section class="eyelashes-gal">
    <ul>
      <li data-aos="fade-up"><img src="https://res.cloudinary.com/dd2an9hq9/image/upload/v1611242949/medea/procedures/vxgxsd4xt31rzzzxoixt.png" alt="">
      </li>
      <li data-aos="fade-up"><img src="https://res.cloudinary.com/dd2an9hq9/image/upload/v1611242962/medea/procedures/yn4q6fpzqf4yjaryptj6.png" alt="">
      </li>
      <li data-aos="fade-up"><img src="https://res.cloudinary.com/dd2an9hq9/image/upload/v1611242973/medea/procedures/snozjov2qtavrgktnbgc.png" alt="">
      </li>
    </ul>
  </section>
</div>
<link rel="stylesheet" href="/css/procedures-list.css">
<link rel="stylesheet" href="/css/eyelashes.css">