<div class="procedures-list-wrapper">
  <div class="url">
    <a href="/procedures">Процедури</a>><a href="/procedures/facetherapies">Терапии за лице</a>
  </div>
  <h1 class="procedures-list-title">Терапии за лице</h1>
  <ul class="procedures-list">

    <li class="procedure-wrapper" id="oilyskin">
      <div class="procedure">
        <h2>ДЪЛБОКОПОЧИСТВАЩА ТЕРАПИЯ ЗА МАЗНА КОЖА</h2>
        <div class="duration-price">
          <h4>60 мин.</h4>
          <h4>30 лв.</h4>
        </div>
        <div class="procedure-description">
          Почистваща терапия за мазна и замърсена кожа, с разширени пори и комедони. Регулира производството на себум,
          свива порите, има антисептично и антибактериално действие.
          <span>Терапията включва:</span>
          <ul>
            <li>вапозон;</li>
            <li>хидродермабразио;</li>
            <li>ръчна ексфолиация на комедони;</li>
            <li>масаж с антисептична пудра по Жаке-Поспелов;</li>
            <li>дарсонвал;</li>
            <li>хидратираща маска;</li>
            <li>кислородна мезотерапия с ампула според индивидуалните нужди на кожата;</li>
          </ul>
        </div>
      </div>
    </li>

    <li class="procedure-wrapper" id="acne">
      <div class="procedure">
        <h2>ЛЕЧЕБНА ТЕРАПИЯ ПРИ АКНЕ И КОМЕДОНИ</h2>
        <div class="duration-price">
          <h4>75 мин.</h4>
          <h4>30 лв.</h4>
        </div>
        <div class="procedure-description">
          Терапия при акне и проблемна кожа с антисептично и антибактериално действие, регулира себума, намалява
          комедоните и свива порите.
          <span>Терапията включва:</span>
          <ul>
            <li>ензимен пилинг;</li>
            <li>вапозон;</li>
            <li>хидродермабразио;</li>
            <li>ръчна ексфолиация на комедони;</li>
            <li>масаж с антисептична пудра по Жаке-Поспелов;</li>
            <li>дарсонвал;</li>
            <li>себурегулираща маска;</li>
            <li>кислородна мезотерапия с ампула за регулиране на себума и мастната секреция;</li>
            <li>концентрат анти акне.</li>
          </ul>
          При проблемна и акнеична кожа с белези се препоръчва процедурите да се правят два пъти месечно.
        </div>
      </div>
    </li>

    <li class="procedure-wrapper" id="ultrasonicpeeling">
      <div class="procedure">
        <h2>Почистване на лице с ултразвуков пилинг</h2>
        <div class="duration-price">
          <h4>60 мин.</h4>
          <h4>35 лв.</h4>
        </div>
        <div class="procedure-description">
          Ултразвуковата терапия е нежна, неинвазивна, безопасна и подходяща за всеки тип кожа, кожа с акне, розацея или
          зряла кожа. Дори и най-чувствителната кожа ще понесе тази терапия без значително зачервяване. Ултразвуковите
          вълни нежно отстраняват горните слоеве на епидермиса, в резултат на което се подобрява цвета и тургура на
          кожата, порите са почистени без болка и мъртвите клетки са отстранени. Високочестотните трептения активират
          кожата и спомагат за изглаждане на бръчките. Процедурата е подходяща е за всеки тип кожа и за всяка възраст.
        </div>
      </div>
    </li>

    <li class="procedure-wrapper" id="phototherapy">
      <div class="procedure">
        <h2>ФОТОН ТЕРАПИЯ</h2>
        <div class="duration-price">
          <h4>30 мин.</h4>
          <h4>10 лв.</h4>
        </div>
        <div class="procedure-description">
          Фотон терапията с LED светлина е един от съвременните неинвазивни методи за решаването на различни козметични
          проблеми и превенция срещу възрастовите промени, в това число изглаждане на фини бръчки и стягане на кожата на
          лицето и тялото, подобряване на цялостния вид на кожата, борба с акне и белези след акне, стрии, пигменти
          петна,
          разширени и спукани капиляри. Основава се на взаимодействието на епидермиса със светлината, което предизвиква
          биостимулация на клетъчните рецептори, стимулира се производството на колаген и еластин, намаляват се
          възпаленията и се ускоряват заздравителните процеси.
        </div>
      </div>
    </li>

    <li class="procedure-wrapper" id="microdermabrasion">
      <div class="procedure">
        <h2>Микродермабразио</h2>
        <div class="duration-price">
          <h4>75 мин.</h4>
          <h4>35 лв.</h4>
        </div>
        <div class="procedure-description">
          Микродермабразиото представлява нехирургичен метод за подмладяване на кожата чрез механична ексфолиация, без
          химикали или лазер. Удобен начин за бързо възстановяване и възвръщане на гладката и мека кожа. Препоръчва се
          при
          комбинирана, мазна и акнеична кожа с широки пори и белези, при пигментни петна и неравен тен. Процедурата
          включва дълбоко почистване на порите с хидродермабразио, ръчна ексфолиация, маска и ампула с кислородна
          мезотерапия според индивидуалните нужди на кожата.
        </div>
      </div>
    </li>

    <li class="procedure-wrapper" id="peelingtherapy">
      <div class="procedure">
        <h2>Пилинг терапия</h2>
        <div class="duration-price">
          <h4>60 мин.</h4>
          <h4>40 лв.</h4>
        </div>
        <div class="procedure-description">
          Пилингът е една от най-ефективните процедури за обновяване и регенерация на кожата през есенно-зимния сезон.
          Новите, обогатени с хиалуронова киселина и пептиди пилинги, са изключително нежни и щадящи, подходящи дори за
          свръхчувствителна кожа, без да предизвикват зачервяване и излющване на епидермиса. Процедурата е подходяща за
          мазни кожи с непрекъснати възпаления от комедони и пъпки. Пилингът е насочен към обновяване и излющване на
          кожата, подтискане на образуването на комедони и възпаления, и намаляване мастната секреция и себума.
          Процедурата се повтаря през 21 дни.
        </div>
      </div>
    </li>

    <li class="procedure-wrapper" id="micronidling">
      <div class="procedure">
        <h2>МИКРОНИДЛИНГ</h2>
        <div class="duration-price">
          <h4>90 мин.</h4>
          <h4>50 лв.</h4>
        </div>
        <div class="procedure-description">
          Микронидлингът е процедура, при която със стерилен накрайник се правят фини микроперфорации в кожата, и се
          нанасят мезококтейли с различен състав - богати на хиалуронова киселина, стволови клетки, колаген,
          антиоксиданти
          и фитохормони, които активират производството на еластин и стимулират регенерацията на кожата. Процедурата не
          е
          инвазивна и болезнена, а за постигането на дълготраен резултат е необходимо да се направят няколко процедури в
          интервал от 20-24дни.
        </div>
      </div>
    </li>

    <li class="procedure-wrapper" id="pinkglow">
      <div class="procedure">
        <h2>ИЗБЕЛВАЩА ТЕРАПИЯ С ПИНК ГЛОУ МЕЗОКОКТЕЙЛ</h2>
        <div class="duration-price">
          <h4>75 мин.</h4>
          <h4>60 лв.</h4>
        </div>
        <div class="procedure-description">
          Мезококтейлът PINK GLOW изсветлява хиперпигментирани участъци от кожата и предотвратява образуването на нови
          несъвършенства по лицето, подхранва и хидратира кожата в дълбочина.
          Pink Glow е мощен подхранващ мезококтейл с 23 аминокиселини, 13 витамина, минерали, коензими и пептиди, който:
          <ul>
            <li>Овлажнява и подмладява кожата;</li>
            <li>Избелва пигментните петна и контролира образуването на нови хиперпигментации;</li>
            <li>Подхранва кожата и изглажда фините бръчки. След процедура кожата е озарена с равномерен тен.</li>
          </ul>
        </div>
      </div>
    </li>

    <li class="procedure-wrapper" id="bbglow">
      <div class="procedure">
        <h2>BB GLOW TЕРАПИЯ ЗА РАВНОМЕРЕН ТЕН</h2>
        <div class="duration-price">
          <h4>75 мин.</h4>
          <h4>60 лв.</h4>
        </div>
        <div class="procedure-description">
          BB Glow терапията е подходяща за всеки тип кожа, особено за заличаване на белези от акне, хиперпигментации и
          свиване на порите, както и при повяхнал и неравномерен тен на лицето.
          <span>Иновативната BB Glow терапия:</span>
          <ul>
            <li>Възстановява равномерния тен, след процедурата кожата изглежда здрава и сияйна;</li>
            <li>Редуцира обезцветяването на кожата;</li>
            <li>Неутрализира свободните радикали, които са причина за преждевременното стареене на кожата;</li>
            <li>Намалява съдържанието на меланин в пигментни петна, причинени от UV лъчи;</li>
            <li>Придава свежест и осветява тена на лицето, като намалява видимите бръчици;</li>
          </ul>
        </div>
      </div>
    </li>

    <li class="procedure-wrapper" id="velvetyskin">
      <div class="procedure">
        <h2>Ревитализираща терапия за кадифена кожа</h2>
        <div class="duration-price">
          <h4>75 мин.</h4>
          <h4>30 лв.</h4>
        </div>
        <div class="procedure-description">
          Подхранваща и възстановяваща терапия за суха и увредена кожа. Активира клетъчния метаболизъм, стимулира
          синтеза
          на колаген, повишава еластичността, регенерира защитните свойства и изглажда кожата.
          <span>Процедурата включва:</span>
          <ul>
            <li>ензимен пилинг;</li>
            <li>масаж;</li>
            <li>подхранваща маска;</li>
            <li>витаминен комплекс.</li>
          </ul>
          Ако кожата Ви е уморена и отпусната, това е най-подходящата процедура!
        </div>
      </div>
    </li>

    <li class="procedure-wrapper" id="whiteningtherapy">
      <div class="procedure">
        <h2>ИЗБЕЛВАЩА ТЕРАПИЯ ПРИ ПИГМЕНТАЦИИ</h2>
        <div class="duration-price">
          <h4>75 мин.</h4>
          <h4>35 лв.</h4>
        </div>
        <div class="procedure-description">
          Терапия за проблемна кожа при хиперпигментация и неравен тен. Хидратира, изсветлява тена, забавя
          производството на меланин и предотвратява пигментацията на кожата.
        </div>
      </div>
    </li>

    <li class="procedure-wrapper" id="hydrationtherapy">
      <div class="procedure">
        <h2>Интензивна хидратираща терапия</h2>
        <div class="duration-price">
          <h4>60 мин.</h4>
          <h4>30 лв.</h4>
        </div>
        <div class="procedure-description">
          Интензивна хидратация за суха, дехидратирана и застаряваща кожа, за възстановяване на водно-липидния баланс и
          подобряване тургура на кожата. Добрата хидратация на кожата е едно от най-мощните оръжия по пътя към здравето
          и
          красотата. Да не забравяме, че кожата е най-големият орган от човешкото тяло, който съдържа над 70% вода.
          <span>Терапията включва:</span>
          <ul>
            <li>ензимен пилинг;</li>
            <li>хидродермабразио;</li>
            <li>хидратираща маска;</li>
            <li>кислородна мезотерапия с ампула хиалуронова киселина;</li>
          </ul>
          Процедурата е препоръчително да се прави ежемесечно през летния сезон, когато кожата е изложена на горещ и сух
          въздух, силно слънце и вятър.
        </div>
      </div>
    </li>

    <li class="procedure-wrapper" id="oxygentherapy">
      <div class="procedure">
        <h2>Кислородна терапия за чувствителна кожа</h2>
        <div class="duration-price">
          <h4>45 мин.</h4>
          <h4>30 лв.</h4>
        </div>
        <div class="procedure-description">
          Кислородната терапия ще върне свежестта на вашето лице! В основата на терапията стои въздействието на струя
          чист
          кислород, който се подава под налягане и прониква дълбоко в дермата. Към него добавяме ампула хиалуронова
          киселина или витамини, които допълнително допринасят за невероятна хидратация на кожата, свежест, блясък и
          лифтинг ефект. Кожата става по-гладка и с повишен тонус. Едно прекрасно релаксиращо изживяване, което заличава
          стреса от чертите на лицето и прави кожата блестяща веднага след терапията. Процедурата е подходяща за
          възпалена, чувствителна, уморена и девитализирана кожа.
        </div>
      </div>
    </li>

    <li class="procedure-wrapper" id="collagen">
      <div class="procedure">
        <h2>Колагенова терапия</h2>
        <div class="duration-price">
          <h4>60 мин.</h4>
          <h4>30 лв.</h4>
        </div>
        <div class="procedure-description">
          Колагенът е един от основните компоненти на съединителната тъкан на човека. Той осигурява здравината и
          еластичността на нашата кожа. След 25 годишна възраст намалява производството на колаген, което води до
          стареене
          на кожата. Колагеновата терапия третира фините линии и бръчки и придава плътност и здравина на кожата. Тя има
          силно изразен изглаждащ ефект за намаляване дълбочината на бръчките и постигане на сияен тен. Процедурата се
          препоръчва при всеки тип кожа, през всеки сезон.
        </div>
      </div>
    </li>

    <li class="procedure-wrapper" id="alginatemask">
      <div class="procedure">
        <h2>ПОДМЛАДЯВАЩА ТЕРАПИЯ С АЛГИНАТНА МАСКА</h2>
        <div class="duration-price">
          <h4>60 мин.</h4>
          <h4>40 лв.</h4>
        </div>
        <div class="procedure-description">
          Алгинатна Peel Off маска - концентрирана маска с дълбок стягащ ефект. Благодарение на изобилието от
          полизахариди и олигоелементи с 95% естествен растителен произход, маската има повдигащ, хидратиращ и укрепващ
          ефект върху кожата. Възстановява тонуса и еластичността на кожата, намалява дълбоките бръчки, има лифтинг
          ефект и подобрява контура на лицето. Тази маска се нанася и върху очите, за да редуцира тъмните кръгове и
          подпухванията.
        </div>
      </div>
    </li>

    <li class="procedure-wrapper" id="larimid">
      <div class="procedure">
        <h2>ЛАРИМИД ТЕРАПИЯ С ЛИФТИНГ ЕФЕКТ</h2>
        <div class="duration-price">
          <h4>60 мин.</h4>
          <h4>65 лв.</h4>
        </div>
        <div class="procedure-description">
          С ларимид терапията ще стимулирате регенерацията и обновлението на епидермиса, фините бръчки ще се заличат, а
          кожата ще изглежда по-здрава и сияйна. За постигане на дълготраен резултат е желателно да се направят между
          5-8 процедури по веднъж месечно.
        </div>
      </div>
    </li>

    <li class="procedure-wrapper" id="wintertherapy">
      <div class="procedure">
        <h2>ЗИМНА ТЕРАПИЯ</h2>
        <div class="duration-price">
          <h4>75 мин.</h4>
          <h4>35 лв.</h4>
        </div>
        <div class="procedure-description">
          Добрата грижа за кожата в зимните месеци е нещо изключително важно и полезно за всички дами, които държат на
          свежия и здрав външен вид. Студеният и сух въздух, силният вятър, топлината в помещенията, в които прекарваме
          по-голямата част от времето си, игнорирането на нуждата от подхранваща козметика, карат кожата ни да страда.
          <span>Зимната терапия включва:</span>
          <ul>
            <li>Почистване с плодов и ултразвуков пилинг;</li>
            <li>Хидродермабразио;</li>
            <li>Загряващ масаж на лицето и маска;</li>
            <li>Кислородна мезотерапия с ампула според индивидуалната нужда на лицето.</li>
          </ul>
        </div>
      </div>
    </li>

    <li class="procedure-wrapper" id="antiage">
      <div class="procedure">
        <h2>АНТИ-ЕЙДЖ ТЕРАПИЯ С ЛИФТИНГ МАСАЖ</h2>
        <div class="duration-price">
          <h4>60 мин.</h4>
          <h4>35 лв.</h4>
        </div>
        <div class="procedure-description">
          Подхранваща и възстановяваща терапия за суха, застаряваща и уморена кожа. Лифтинг масажът подобрява
          кръвоснабдяването и метаболизма, предотвратява образуването на бръчки и отпускането на кожата.
        </div>
      </div>
    </li>

    <li class="procedure-wrapper" id="snailtherapy">
      <div class="procedure">
        <h2>РФ ПОДХРАНВАЩА ТЕРАПИЯ СЪС СЛУЗ ОТ ОХЛЮВ</h2>
        <div class="duration-price">
          <h4>75 мин.</h4>
          <h4>30 лв.</h4>
        </div>
        <div class="procedure-description">
          Радиочестотният лифтинг е неоперативна терапия за видимо стягане, опъване и изглаждане на кожата.
          Радиочестотата затопля тъканите, засилва кръвообръщението и стимулира синтеза на колаген и еластин.
          Процедурата включва РФ с гел от морски колаген, слуз от охлюв и хиалуронова киселинана, който прониква в
          дълбочина, подхранва и хидратира кожата, маска и ампула според индивидуалните нужди на кожата.
          Терапията е подходяща за всеки тип кожа, през всеки сезон. При застаряваща кожа след 35 годишна възраст се
          препоръчва поне веднъж месечно, за да се забавят естествените процеси на стареене на кожата.
        </div>
      </div>
    </li>

    <li class="procedure-wrapper" id="argirelin">
      <div class="procedure">
        <h2>ПОДМЛАДЯВАЩА ТЕРАПИЯ С АРГИРЕЛИН</h2>
        <div class="duration-price">
          <h4>45 мин.</h4>
          <h4>30 лв.</h4>
        </div>
        <div class="procedure-description">
          Аргирелинът е нетоксичен пептид, който въздейства на ниво нервно-мускулни синапси и предизвиква отпускане на
          мимическата мускулатура (миорелаксация), предотвратявайки образуването на бръчки. Аргирелин е безопасна,
          нетоксична алтернатива на Ботокса, осигуряваща ефикасно изглаждане на мимическите бръчки.
          <span>Подмладяващата терапия включва:</span>
          <ul>
            <li>Радиочестотен лифтинг с Аргирелин;</li>
            <li>Регенерираща маска с лифтинг масаж на лицето;</li>
            <li>Кислородна мезотерапия с коктейл от пептиди за подхранване на кожата.;</li>
            <li>кислородна мезотерапия с ампула хиалуронова киселина;</li>
          </ul>
          Процедурата продължава около 60мин. За постигане на дълготрайни резултати са необходими от 6 до 10 терапии.
        </div>
      </div>
    </li>

    <li class="procedure-wrapper" id="eyecontour">
      <div class="procedure">
        <h2>УСПОКОЯВАЩА ТЕРАПИЯ ЗА ОКОЛООЧЕН КОНТУР</h2>
        <div class="duration-price">
          <h4>45 мин.</h4>
          <h4>30 лв.</h4>
        </div>
        <div class="procedure-description">
          Терапията предлага професионална грижа за околоочния контур. Тя освежава, успокоява, релаксира и хидратира
          кожата в зоната около очите. Премахва умората, тъмните кръгове, подпухването и торбичките под очите, отнема
          напрежението, заличава фините линии и бръчки „пачи крак“.
          <span>Процедурата включва:</span>
          <ul>
            <li>Радиочестотен лифтинг;</li>
            <li>Мануален масаж;</li>
            <li>Кислородна мезотерапия с ампула;</li>
            <li>кислородна мезотерапия с ампула хиалуронова киселина;</li>
          </ul>
          За да се постигне максимален ефект е необходимо да се направят поне три последователни процедури, през 10-12
          дни. Поддържаща терапия – по една на месец.
        </div>
      </div>
    </li>

    <li class="procedure-wrapper" id="photorejuvenation">
      <div class="procedure">
        <h2>ФОТОПОДМЛАДЯВАНЕ</h2>
        <div class="duration-price">
          <h4>60 мин.</h4>
          <h4>35 лв.</h4>
        </div>
        <div class="procedure-description">
          Фотоподмладяването се прави чрез облъчване със светлинна енергия на определени участъци от кожата. Облъчените
          участъци абсорбират светлинната енергия и това стимулира продукцията на нов колаген. Колагенът помага за
          възвръщане на здравия вид на стареещата кожа. С образуването на нов колаген се заличават фините бръчки в
          третираните участъци. Фотоподмладяването намалява зачервяването вследствие на спукани капиляри или розацея,
          изчиства пигментни петна от слънце или от възрастов тип. Процедурата се прави през есенно-зимния период.
        </div>
      </div>
    </li>

    <li class="procedure-wrapper" id="mesotherapy">
      <div class="procedure">
        <h2>БЕЗИГЛЕНА МЕЗОТЕРАПИЯ</h2>
        <div class="duration-price">
          <h4>90 мин.</h4>
          <h4>50 лв.</h4>
        </div>
        <div class="procedure-description">
          Мезотерапията е процедура, с която в кожата се вкарват различни активни съставки, специално разработени да я
          възстановяват и стимулират, да регенерира и да се обновява. Съставките за мезотерапия възстановяват увредени
          кожни структури и колагенови нишки. Резултатите са видими още след първата процедура и с времето се засилват.
          <span>Безиглената мезотерапия:</span>
          <ul>
            <li>Подмладява и стяга кожата;</li>
            <li>Заличава фините и изглажда по-дълбоките бръчки;</li>
            <li>Подхранва, хидратира и ревитализира кожата. За постигане на максимален ефект е необходимо да се направи
              курс между 3-5 процедури през 10 дни;</li>
          </ul>
        </div>
      </div>
    </li>

    <li class="procedure-wrapper" id="carboxytherapy">
      <div class="procedure">
        <h2>КАРБОКСИТЕРАПИЯ</h2>
        <div class="duration-price">
          <h4>75 мин.</h4>
          <h4>50 лв.</h4>
        </div>
        <div class="procedure-description">
          Карбокситерапията или CO2 терапията е една от най-ефективните и безопасни процедури в съвременната
          козметология.
          Използването на въглероден диоксид подобрява кръвообращението, регенерира тъканите, дренира лимфата, премахва
          токсините и отоците, разгражда мазнините. Процедурата се основава на уникален метод на въздействие върху
          кожата
          с въглероден диоксид, който се образува чрез смесване на активен гел и маска активатор с плодови киселини.
          Молекуленият CO2 - много бързо прониква в кожата и достига до кръвоносните съдове, и засилва клетъчния
          метаболизъм.
        </div>
      </div>
    </li>

    <li class="procedure-wrapper" id="hifulifting">
      <div class="procedure">
        <h2>HIFU ЛИФТИНГ</h2>
        <div class="duration-price">
          <h4>60 мин.</h4>
          <h4>80 лв. за зона</h4>
        </div>
        <div class="procedure-description">
          Спрете времето с HIFU Лифтинг! HIFU е безопасен, неоперативен лифтинг с високо интензивен фокусиран ултразвук,
          който прониква дълбоко в кожата, без да се нарушава повърхностния слой и в резултат се постига стягане на
          кожата
          на лицето, шията и деколтето. Хайфу технологията ефикасно коригира фините и по-дълбоки бръчки, стяга овала на
          лицето, подобрява еластичността и тонуса на кожата, премахва двойната брадичка.
        </div>
      </div>
    </li>

    <li class="procedure-wrapper" id="fibroplazma">
      <div class="procedure">
        <h2>ФИБРОПЛАЗМА ЛИФТИНГ</h2>
        <div class="duration-price">
          <h4>90 мин.</h4>
          <h4>90 лв.</h4>
        </div>
        <div class="procedure-description">
          Фиброплазма лифтингът е съвършено нов тип техника за повдигане кожата на клепачите, изглаждане на бръчки,
          подпухнали “торбички” и хиперпигментация по кожата. Фиброплазма Лифтинг се прави с уред, наречен плазма пен,
          създаващ плазмен микроимпулс, който причинява сублимация на повърхностния слой на кожата. По този начин се
          предизвиква биостимулация на дермата, благодарение на фокусираната топлина. Като резултат – новата кожа след
          около 7 дни е по-млада и по-стегната. В някои случаи, в зависимост от метаболизма и кожата на клиента,
          крустичките след процедурата може да се задържат до 10 дни.
        </div>
      </div>
    </li>

    <li class="procedure-wrapper" id="thickhair">
      <div class="procedure">
        <h2>ИНОВАТИВНА ТЕРАПИЯ ЗА ГЪСТА КОСА</h2>
        <div class="duration-price">
          <h4>15 мин.</h4>
          <h4>10 лв.</h4>
        </div>
        <div class="procedure-description">
          Дарсонвалът произвежда озон, който дезинфектира скалпа, предотвартява омазняването и образуването на рани.
          Ускорява кръвообращението и подобрява обмяната на веществата. Третирането с чист кислород успокоява в
          дълбочина
          кожата на главата, нормализира секрецията на мастните жлези, намалява пърхота и лющенето на скалпа. Помага да
          спре косопада и стимулира растежа на здрава коса. Впръскването на кислород отстранява вроговените клетки и
          замърсявания, натрупани по скалпа, и по този начин ограничава разпространението на бактерии, запазва скалпа
          чист, стимулира клетъчния метаболизъм.
        </div>
      </div>
    </li>

  </ul>
</div>

<link rel="stylesheet" href="/css/procedures-list.css">
<link rel="stylesheet" href="/css/faceTherapies.css">