<div class="procedures-list-wrapper">
  <h1 class="procedures-list-title">Фотоепилация</h1>

  <p class="short-desc">Съвременен и ефективен метод за дълготрайно отстраняване на нежеланото окосмяване.
    Принципът на фотоепилацията се базира на действието на импулсна светлина, която достига до основата на косъма.
  </p>

  <ul data-aos="fade-up" class="procedures-list">
    <li class="procedure">
      <div class="procedure-description">
        <p>Едва ли има човек, който да не се интересува от въпросите, свързани с премахване на нежеланото окосмяването
          по
          тялото и лицето. Начините за обезкосмяване са бръснене, третиране с крем депилатори или епилация. Към методите
          за епилация спадат такива, при които имаме отскубване на космите, като прилагането на кола маска, електрически
          епилатори, отскубване с конец или пинсети. Тези методи са нетрайни, защото след около две седмици космите
          започват отново да израстват.</p>
        <span>Недостатъци при обезкосмяване с епилатори, бръснене или кола маска са:</span>
        <ul>
          <li>Възпаления, обриви и кожни инфекции;</li>
          <li>Враствания на космите, образуване на фоликулит и кисти;</li>
          <li>Удебеляване на космите;</li>
          <li>Болка при епилиране;</li>
          <li>Порязвания, рани и белези;</li>
          <li>Необходимост от дължина на космите за кола маска или епилатор;</li>
          <li>Непрекъсната загуба на време;</li>
        </ul>
        След фотоепилация кожата остава гладка и мека – без възпаления, подкожни косми, обриви и кожни инфекции.
        Фотоепилация -ефикасен и безболезнен метод за дълготрайно обезкосмяване!
        Космите по лицето са често срещан проблем при дамите. Те са в състояние да понижат самочувствието и да създадат
        трайни комплекси. Знаете ли, че можете да се освободите трайно от нежеланото окосмяване на лицето с
        фотоепилация,
        само с няколко посещения?!
        С фотоепилация ще се разделите дълготрайно с нежеланото окосмяване само след 6 до 10 процедури.
      </div>

      <h3>Цени</h3>
      <table class="photoepilation-table">
        <thead>
          <tr>
            <th>
              <h3>Зона</h3>
            </th>
            <th>
              <h3>Жени</h3>
            </th>
            <th>
              <h3>Мъже</h3>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Бакенбарди &amp; Врат</td>
            <td>-</td>
            <td>50 лв.</td>
          </tr>
          <tr>
            <td>Врат</td>
            <td>-</td>
            <td>30 лв.</td>
          </tr>
          <tr>
            <td>Горна устна</td>
            <td>15 лв</td>
            <td>-</td>
          </tr>
          <tr>
            <td>Брада</td>
            <td>20 лв.</td>
            <td>-</td>
          </tr>
          <tr>
            <td>Цяло лице</td>
            <td>25 лв.</td>
            <td>-</td>
          </tr>
          <tr>
            <td>Мишници</td>
            <td>20 лв.</td>
            <td>20 лв.</td>
          </tr>
          <tr>
            <td>Цели ръце</td>
            <td>50 лв.</td>
            <td>60 лв.</td>
          </tr>
          <tr>
            <td>Ръце &amp; Пръсти</td>
            <td>-</td>
            <td>15 лв.</td>
          </tr>
          <tr>
            <td>Рамена</td>
            <td>-</td>
            <td>60 лв.</td>
          </tr>
          <tr>
            <td>Гърди</td>
            <td>25 лв.</td>
            <td>50 лв.</td>
          </tr>
          <tr>
            <td>Корем</td>
            <td>20 лв.</td>
            <td>50 лв.</td>
          </tr>
          <tr>
            <td>Цял гръб</td>
            <td>-</td>
            <td>70 лв.</td>
          </tr>
          <tr>
            <td>Бикини зона</td>
            <td>30 лв.</td>
            <td>-</td>
          </tr>
          <tr>
            <td>Цял интим</td>
            <td>50 лв.</td>
            <td>60 лв.</td>
          </tr>
          <tr>
            <td>Седалище</td>
            <td>30 лв.</td>
            <td>50 лв.</td>
          </tr>
          <tr>
            <td>Подбедрици</td>
            <td>70 лв.</td>
            <td>100 лв.</td>
          </tr>
          <tr>
            <td>Бедра</td>
            <td>95 лв.</td>
            <td>120 лв.</td>
          </tr>
          <tr>
            <td>Цели крака</td>
            <td>140 лв.</td>
            <td>180 лв.</td>
          </tr>
          <tr>
            <td>Ходило &amp; Пръсти</td>
            <td>15 лв.</td>
            <td>20 лв.</td>
          </tr>
        </tbody>
      </table>

      <table class="photoepilation-table">
        <thead>
          <tr>
            <th>
              <h3>Пакетна цена</h3>
            </th>
            <th>
              <h3>Жени</h3>
            </th>
            <th>
              <h3>Мъже</h3>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Цял Интим &amp; Мишници</td>
            <td>65 лв.</td>
            <td>-</td>
          </tr>
          <tr>
            <td>Цели крака, Интим &amp; Мишници</td>
            <td>160 лв.</td>
            <td>-</td>
          </tr>
          <tr>
            <td>Цели крака &amp; Интимна зона</td>
            <td>150 лв.</td>
            <td>-</td>
          </tr>
          <tr>
            <td>Подбедрици, Мишници &amp; Интим</td>
            <td>100 лв.</td>
            <td>-</td>
          </tr>
          <tr>
            <td>Цяло тяло</td>
            <td>230 лв.</td>
            <td>350 лв.</td>
          </tr>
          <tr>
            <td>Гръб &amp; Корем</td>
            <td>-</td>
            <td>95 лв.</td>
          </tr>
          <tr>
            <td>Гръб, Рамена &amp; Врат</td>
            <td>-</td>
            <td>95 лв.</td>
          </tr>
           <tr>
            <td>Гръб, Рамена, Корем &amp; Врат</td>
            <td>-</td>
            <td>150 лв.</td>
          <tr>
            <td>Гръб, Рамена, Ръце &amp; Врат</td>
            <td>-</td>
            <td>180 лв.</td>
          </tr>
        </tbody>
      </table>
    </li>

  </ul>
</div>

<link rel="stylesheet" href="/css/procedures-list.css">
<link rel="stylesheet" href="/css/photoepilation.css">