<div class="procedures-wrapper">
  <h1 class="page-title">Процедури</h1>

  <div data-aos="fade-up" class="procedures-info">
    <div class="procedures-list body">
      <h2 class="procedure-title"><a href="/procedures/bodytherapies">Терапии за тяло</a></h2>

      <p><a href="/procedures/bodytherapies#wholebody">Класически масаж на цяло тяло</a></p>
      <p><a href="/procedures/bodytherapies#antistress">Антистрес релаксиращ масаж</a></p>
      <p><a href="/procedures/bodytherapies#deeptissue">Дълбокотъканен масаж при болка</a></p>
      <p><a href="/procedures/bodytherapies#volcanicstones">Масаж с вулканични камъни</a></p>
      <p><a href="/procedures/bodytherapies#partialmassage">Частичен масаж на гръб</a></p>
      <p><a href="/procedures/bodytherapies#properium">Частичен масаж на гръб с пропиреум</a></p>
      <p><a href="/procedures/bodytherapies#neckmassage">Масаж на тила</a></p>
      <p><a href="/procedures/bodytherapies#tiredlegs">Масаж за уморени крака</a></p>
      <p><a href="/procedures/bodytherapies#bellymassage">Коремен масаж</a></p>
      <p><a href="/procedures/bodytherapies#footmassage">Точков масаж на стъпала</a></p>
      <p><a href="/procedures/bodytherapies#manualmassage">Антицелулитен мануален масаж</a></p>
      <p><a href="/procedures/bodytherapies#bodyripping">Бодирепинг антицелулитна терапия</a></p>
      <p><a href="/procedures/bodytherapies#presotherapy">Пресотерапия</a></p>
      <p><a href="/procedures/bodytherapies#celutron">Целутрон</a></p>
      <p><a href="/procedures/bodytherapies#shockmassage">Шоково-вълнов масаж при болка</a></p>
      <p><a href="/procedures/bodytherapies#velasmuth">Веласмут</a></p>
      <p><a href="/procedures/bodytherapies#cavitation">Отслабване чрез кавитация</a></p>
      <p><a href="/procedures/bodytherapies#lipolazer">Отслабване с липолазер</a></p>
      <p><a href="/procedures/bodytherapies#vacuummassage">Вакуум масаж + Радиочестотен лифтинг</a></p>
      <p><a href="/procedures/bodytherapies#anticellulite">Антицелулитен шоково-вълнов масаж</a></p>
    </div>

    <div class="procedures-list face">
      <h2 class="procedure-title"><a href="/procedures/facetherapies">Терапии за лице</a></h2>

      <p><a href="/procedures/facetherapies#oilyskin">Дълбокопочистваща терапия за мазна кожа</a></p>
      <p><a href="/procedures/facetherapies#acne">Лечебна терапия при акне и комедони</a></p>
      <p><a href="/procedures/facetherapies#ultrasonicpeeling">Почистване на лице с ултразвуков пилинг</a></p>
      <p><a href="/procedures/facetherapies#phototherapy">Фотон терапия</a></p>
      <p><a href="/procedures/facetherapies#microdermabrasion">Микродермабразио</a></p>
      <p><a href="/procedures/facetherapies#peelingtherapy">Пилинг терапия</a></p>
      <p><a href="/procedures/facetherapies#micronidling">Микронидлинг</a></p>
      <p><a href="/procedures/facetherapies#pinkglow">Избелваща терапия с Пинк Глоу Мезококтейл</a></p>
      <p><a href="/procedures/facetherapies#bbglow">BB GLOW терапия за равномерен тен</a></p>
      <p><a href="/procedures/facetherapies#velvetyskin">Ревитализираща терапия за кадифена кожа</a></p>
      <p><a href="/procedures/facetherapies#whiteningtherapy">Избелваща терапия при пигментации</a></p>
      <p><a href="/procedures/facetherapies#hydrationtherapy">Интензивна хидратираща терапия</a></p>
      <p><a href="/procedures/facetherapies#oxygentherapy">Кислородна терапия за чувствителна кожа</a></p>
      <p><a href="/procedures/facetherapies#collagen">Колагенова терапия</a></p>
      <p><a href="/procedures/facetherapies#alginatemask">Подмладяваща терапия с Алгинатна маска</a></p> 
      <p><a href="/procedures/facetherapies#larimid">Ларимид терапия с лифтинг ефект</a></p>
      <p><a href="/procedures/facetherapies#wintertherapy">Зимна терапия</a></p>
      <p><a href="/procedures/facetherapies#antiage">Анти-ейдж терапия с лифтинг масаж</a></p>
      <p><a href="/procedures/facetherapies#snailtherapy">РФ Подхранваща терапия със слуз от охлюв</a></p>
      <p><a href="/procedures/facetherapies#argirelin">Подмладяваща терапия с Аргирелин</a></p>
      <p><a href="/procedures/facetherapies#eyecontour">Успокояваща терапия за околоочен контур</a></p>
      <p><a href="/procedures/facetherapies#photorejuvenation">Фотоподмладяване</a></p>
      <p><a href="/procedures/facetherapies#mesotherapy">Безиглена мезотерапия</a></p>
      <p><a href="/procedures/facetherapies#carboxytherapy">Карбокситерапия</a></p>
      <p><a href="/procedures/facetherapies#hifulifting">HIFU Лифтинг</a></p>
      <p><a href="/procedures/facetherapies#fibroplazma">Фиброплазма лифтинг</a></p>
      <p><a href="/procedures/facetherapies#thickhair">Иновативна терапия за гъста коса</a></p>
    </div>

    <a href="/procedures/eyelashes" class="procedures-list eyelashes">
      <h2 class="procedure-title">Ламиниране на мигли</h2>
    </a>
  </div>
</div>

<link href="/css/procedures.css" type="text/css" rel="stylesheet">