<div class="procedures-list-wrapper">
  <h1 class="procedures-list-title">Солна стая</h1>
  <ul data-aos="fade-up" class="procedures-list">
    <li class="procedure">
      <div class="procedure-description">
        <h2>Солна стая</h2>
        <p>Ако детето ви боледува често, а вие се питате как да му помогнете, опитайте с халотерапия и усетете лечебната
          сила на солта в Солната стая на "Медея".
          В солната стая децата си играят и забавляват в солта, без да усетят, че са подложени на някакъв вид лечение,а
          престоят им се отразява на организма, все едно са на море или в планината.
          Продължителността на едно посещение за деца до 6г. е 20 мин. , безплатно придружени от възрастен.
        </p>

        <p>Халотерапията (солна терапия) е 100 % натурален и безвреден начин за подобряване на здравето и повишаване на
          имунитета на деца и възрастни. Солта има антибактериално, антимикотично и противовъзпалително действие и влияе
          благоприятно върху човешкия организъм.</p>

        <p>Клиничните изследвания показват, че фините частици медицинска сол, разпрашавани от халогенератора, полепват
          по влажните дихателни пътища, втечняват и спомагат за отделянето на всичко полепнало по тях /секрети,
          бактерии, алергени и др./.По този начин се изчиства лигавицата и намаляват дихателни възпаления.</p>

        <span>Престоят в солната стая:</span>
        <ul>
          <li>Прочиства дихателните пътища от замърсители, прах, бактерии и алергени, и предотвратява появата на
            инфекции и възпаления;</li>
          <li>Помага при астма, бронхит, ринит, синузит, ларингит, кашлица, ангина, грип, хрема, алергия и повтарящи се
            респираторни заболявания;</li>
          <li>Предпазва от сезонни грипни и вирусни инфекции;</li>
          <li>Подобрява имунитета на организма;</li>
          <li>Подобрява състоянието на кожата и повлиява благоприятно редица кожни заболявания - атопичен дерматит,
            екзема, акне, псориазис;</li>
          <li>Помага за психичното здраве и свързаните с него стрес, умора, мигрена, безсъние и депресия;</li>
          <li>100% естествен и безопасен метод;</li>
          <li>е подходящ за всички възрасти, включително за бременни и бебета.</li>
          <li>Не се препоръчва при висока температура и в моменти на повишено кръвно налягане.</li>
        </ul>
      </div>


      <h3>Деца до 6г. + възрастен придружител безплатно</h3>
       <table class="photoepilation-table">
        <thead>
          <tr>
            <th>
            </th>
            <th>
              <h3></h3>
            </th>
            <th>
              <h3></h3>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1 Посещение</td>
            <td>20 мин.</td>
            <td>8 лв.</td>
          </tr>
          <tr>
            <td>5 Посещения</td>
            <td>5 x 20мин.</td>
            <td>35 лв.</td>
          </tr>
          <tr>
            <td>10 Посещения</td>
            <td>10 x 20мин.</td>
            <td>65 лв.</td>
          </tr>
          <tr>
            <td>15 Посещения</td>
            <td>15 x 20мин.</td>
            <td>90 лв.</td>
          </tr>
          <tr>
            <td>20 Посещения</td>
            <td>20 x 20мин.</td>
            <td>110 лв.</td>
          </tr>
        </tbody>
      </table>

      <h3>Деца от 6 до 12г.</h3>
       <table class="photoepilation-table">
        <thead>
          <tr>
            <th>
            </th>
            <th>
              <h3></h3>
            </th>
            <th>
              <h3></h3>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1 Посещение</td>
            <td>30 мин.</td>
            <td>10 лв.</td>
          </tr>
          <tr>
            <td>5 Посещения</td>
            <td>5 x 30мин.</td>
            <td>47 лв.</td>
          </tr>
          <tr>
            <td>10 Посещения</td>
            <td>10 x 30мин.</td>
            <td>90 лв.</td>
          </tr>
          <tr>
            <td>15 Посещения</td>
            <td>15 x 30мин.</td>
            <td>125 лв.</td>
          </tr>
          <tr>
            <td>20 Посещения</td>
            <td>20 x 30мин.</td>
            <td>150 лв.</td>
          </tr>
        </tbody>
      </table>

      <h3>Възрастни и деца над 12г.</h3>
       <table class="photoepilation-table">
        <thead>
          <tr>
            <th>
            </th>
            <th>
              <h3></h3>
            </th>
            <th>
              <h3></h3>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1 Посещение</td>
            <td>40 мин.</td>
            <td>15 лв.</td>
          </tr>
          <tr>
            <td>5 Посещения</td>
            <td>5 x 40мин.</td>
            <td>70 лв.</td>
          </tr>
          <tr>
            <td>10 Посещения</td>
            <td>10 x 40мин.</td>
            <td>130 лв.</td>
          </tr>
          <tr>
            <td>15 Посещения</td>
            <td>15 x 40мин.</td>
            <td>180 лв.</td>
          </tr>
          <tr>
            <td>20 Посещения</td>
            <td>20 x 40мин.</td>
            <td>220 лв.</td>
          </tr>
        </tbody>
      </table>
    </li>
  </ul>

  <div class="saltroom-gal">
    <ul>
      <li><img src="https://res.cloudinary.com/dd2an9hq9/image/upload/v1611242643/medea/home/home-gallery/wnqr9gbiiivzojox8upi.jpg" alt=""></li>
      <li><img src="https://res.cloudinary.com/dd2an9hq9/image/upload/v1611244304/medea/saltroom-gallery/deojfti2awugobbm2zrd.jpg" alt=""></li>
      <li><img src="https://res.cloudinary.com/dd2an9hq9/image/upload/v1611244295/medea/saltroom-gallery/cvwmy22azd0xayofyfsm.jpg" alt=""></li>
      <li><img src="https://res.cloudinary.com/dd2an9hq9/image/upload/v1611244265/medea/saltroom-gallery/lz6zgqatjn89otr2o1xz.jpg" alt=""></li>
    </ul>
  </div>
</div>

<link rel="stylesheet" href="/css/procedures-list.css">
<link rel="stylesheet" href="/css/saltroom.css">