.procedures-list-title::before {
  background-image: url('https://res.cloudinary.com/dd2an9hq9/image/upload/v1611147236/medea/procedures/face-therapies/rfhbavrtldope4jnztfu.png');
}

.procedure-wrapper:first-child .procedure::before {
  background-image: url('https://res.cloudinary.com/dd2an9hq9/image/upload/v1611149363/medea/procedures/face-therapies/dy4zr44suiavjavawlup.png');
}

.procedure-wrapper:nth-child(2) .procedure::before {
  background-image: url('https://res.cloudinary.com/dd2an9hq9/image/upload/v1611149363/medea/procedures/face-therapies/vx04fntvqxhxa6md5dij.png');
}

.procedure-wrapper:nth-child(3) .procedure::before {
  background-image: url('https://res.cloudinary.com/dd2an9hq9/image/upload/v1611149363/medea/procedures/face-therapies/nmumhwp7udbwskd1avrm.png');
}

.procedure-wrapper:nth-child(4) .procedure::before {
  background-image: url('https://res.cloudinary.com/dd2an9hq9/image/upload/v1611935832/medea/procedures/face-therapies/mg8lrkjmv8ml9krkljwu.png');
}

.procedure-wrapper:nth-child(5) .procedure::before {
  background-image: url('https://res.cloudinary.com/dd2an9hq9/image/upload/v1611149364/medea/procedures/face-therapies/okirbcmznmweanxhqbpy.png');
}

.procedure-wrapper:nth-child(6) .procedure::before {
  background-image: url('https://res.cloudinary.com/dd2an9hq9/image/upload/v1612173284/medea/procedures/face-therapies/hdpszn0jelek9khsz7ac.png');
}

.procedure-wrapper:nth-child(7) .procedure::before {
  background-image: url('https://res.cloudinary.com/dd2an9hq9/image/upload/v1611149362/medea/procedures/face-therapies/dmdkfwxemtrtvypkjihq.png');
}

.procedure-wrapper:nth-child(8) .procedure::before {
  background-image: url('https://res.cloudinary.com/dd2an9hq9/image/upload/v1611149363/medea/procedures/face-therapies/btzeks9n6zey1hikzaab.png');
}

.procedure-wrapper:nth-child(9) .procedure::before {
  background-image: url('https://res.cloudinary.com/dd2an9hq9/image/upload/v1611149363/medea/procedures/face-therapies/jowuzrhicwin85pg7tnl.png');
}

.procedure-wrapper:nth-child(10) .procedure::before {
  background-image: url('https://res.cloudinary.com/dd2an9hq9/image/upload/v1611149362/medea/procedures/face-therapies/clf6e5vi1bivxdrgwqth.png');
}

.procedure-wrapper:nth-child(11) .procedure::before {
  background-image: url('https://res.cloudinary.com/dd2an9hq9/image/upload/v1611149364/medea/procedures/face-therapies/oujazcphhvig9yorpsgl.png');
}

.procedure-wrapper:nth-child(12) .procedure::before {
  background-image: url('https://res.cloudinary.com/dd2an9hq9/image/upload/v1611149362/medea/procedures/face-therapies/isdfnsdbtcqvltcpsbtu.png');
}

.procedure-wrapper:nth-child(13) .procedure::before {
  background-image: url('https://res.cloudinary.com/dd2an9hq9/image/upload/v1611149363/medea/procedures/face-therapies/ni9ngeaxfsmvr4s37h0f.png');
}

.procedure-wrapper:nth-child(14) .procedure::before {
  background-image: url('https://res.cloudinary.com/dd2an9hq9/image/upload/v1611149364/medea/procedures/face-therapies/b2k6obc8uwj1oyyiurq2.png');
}

.procedure-wrapper:nth-child(15) .procedure::before {
  background-image: url('https://res.cloudinary.com/dd2an9hq9/image/upload/v1611931774/medea/procedures/face-therapies/azrftef465kx2vopsxj6.png');
}

.procedure-wrapper:nth-child(16) .procedure::before {
  background-image: url('https://res.cloudinary.com/dd2an9hq9/image/upload/v1611931820/medea/procedures/face-therapies/ubalh5i9zqevaw8cfd5y.png');
}

.procedure-wrapper:nth-child(17) .procedure::before {
  background-image: url('https://res.cloudinary.com/dd2an9hq9/image/upload/v1611931855/medea/procedures/face-therapies/ye2uvbzjr8pdca48u0wj.png');
}

.procedure-wrapper:nth-child(18) .procedure::before {
  background-image: url('https://res.cloudinary.com/dd2an9hq9/image/upload/v1611931886/medea/procedures/face-therapies/dyhdbockiekqfqiwmsis.png');
}

.procedure-wrapper:nth-child(19) .procedure::before {
  background-image: url('https://res.cloudinary.com/dd2an9hq9/image/upload/v1611932081/medea/procedures/face-therapies/agczkm8evry3cgkaqhru.png');
}

.procedure-wrapper:nth-child(20) .procedure::before {
  background-image: url('https://res.cloudinary.com/dd2an9hq9/image/upload/v1611932103/medea/procedures/face-therapies/fywloujcsghndf5ppxpx.png');
}

.procedure-wrapper:nth-child(21) .procedure::before {
  background-image: url('https://res.cloudinary.com/dd2an9hq9/image/upload/v1611149362/medea/procedures/face-therapies/pvberyzw8uy16cngvlyk.png');
}

.procedure-wrapper:nth-child(22) .procedure::before {
  background-image: url('https://res.cloudinary.com/dd2an9hq9/image/upload/v1611149362/medea/procedures/face-therapies/smkx8icudoix3tncqkwi.png');
}

.procedure-wrapper:nth-child(23) .procedure::before {
  background-image: url('https://res.cloudinary.com/dd2an9hq9/image/upload/v1611149362/medea/procedures/face-therapies/x7u37cnpyplg6g1lulen.png');
}

.procedure-wrapper:nth-child(24) .procedure::before {
  background-image: url('https://res.cloudinary.com/dd2an9hq9/image/upload/v1611149364/medea/procedures/face-therapies/sn0ulfmnca2q3vluqmw1.png');
}

.procedure-wrapper:nth-child(25) .procedure::before {
  background-image: url('https://res.cloudinary.com/dd2an9hq9/image/upload/v1611149364/medea/procedures/face-therapies/cikowovx002eqohuqkeb.png');
}

.procedure-wrapper:nth-child(26) .procedure::before {
  background-image: url('https://res.cloudinary.com/dd2an9hq9/image/upload/v1611149362/medea/procedures/face-therapies/w2pseyryzmkv1acvomju.png');
}

.procedure-wrapper:nth-child(27) .procedure::before {
  background-image: url('https://res.cloudinary.com/dd2an9hq9/image/upload/v1611149363/medea/procedures/face-therapies/mbg3wca9sv2rfzn3i52d.png');
}